version: '3.8'

networks:
  indiemassive:

volumes:
  mariadb_data:
  redis_data:

services:
  webserver:
    container_name: webserver
    build:
      context: .
      dockerfile: ./docker/webserver/Dockerfile
    # Map localhost:9003 to container's port 9003 (where nginx will listen)
    ports:
      - "9003:9003"
    networks:
      - indiemassive
    volumes:
      # Mount the entire project folder to /var/www/html
      - ./:/var/www/html
    depends_on:
      - mariadb
      - reddis

  mariadb:
    container_name: mariadb
    image: mariadb:latest
    ports:
      - "33306:3306"
    networks:
      - indiemassive
    environment:
      MYSQL_ROOT_PASSWORD: "example"
      MYSQL_DATABASE: "interns"
    volumes:
      # Persist the actual DB files in the named volume
      - mariadb_data:/var/lib/mysql
      # Use our custom my.ini
      - ./docker/my.ini:/etc/mysql/conf.d/my.ini

  reddis:
    container_name: reddis
    image: redis:latest
    ports:
      - "34679:6379"
    networks:
      - indiemassive
    volumes:
      - redis_data:/data
